.footer{
    margin: 0px;
    padding: 1rem 2.5rem;
    background-color: rgb(99,100,102);
}
.footer > p{
    text-align: center;
    color: rgb(201, 243, 243);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0em 0.5em;
}