*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background-color: rgb(99,100,102);
    padding: 1rem 2rem;
    align-items: center;
}
h1{
    font-weight: 700;
    color: rgb(54, 200, 202); 
    font-size: 2.5rem;
    padding: 0em 0.5em;
}
.navbar-options{
    display: flex;
    margin-left: auto;
}
li{
    list-style-type: none;
    margin: 0rem 1em;
    color: rgb(201, 243, 243);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0em 0.5em;
}
li:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    html{
        font-size: 14px;
    }
    h1{
        font-size: 2rem;
        font-weight: 600;
    }
}
@media screen and (max-width: 600px){
    .nav{
        flex-direction: column;
        padding: 1.5em 0em;
    }
    .navbar-options{
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 450px){
    .navbar-options{
        text-align: center;
        flex-direction: column;
    }
    li{
        padding: 0.25em 0rem;
    }
}